{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="12u">
    <section>
        {% for article in articles_page.object_list %}
            {% if loop.index0 % 3  == 0 %}
            <div class="row">
            {% endif %}
                <div class="4u">
                    <section class="box">
                        <a href="{{ SITEURL }}/{{ article.url }}" class="image image-full"><img src="{{ SITEURL }}/{{ article.picture }}" alt=""/></a>
                        <header>
                            <h3>{{article.title }}</h3>
                            <span class="byline">{{ article.date }}</span>
                        </header>
                        {{ article.summary }}
                        <footer class="actions">
                            <a href="{{ SITEURL }}/{{ article.url }}" class="button button-icon button-icon-1">Continue Reading</a>
                        </footer>
                    </section>
                </div>
            {% if loop.index % 3  == 0 %}
            </div>
            {% endif %}
        {% endfor %}
        {% if DEFAULT_PAGINATION %}
    </section><!-- /#content -->
            <p class="paginator">
                {% if articles_page.has_previous() %}
                    {% if articles_page.previous_page_number() == 1 %}
                        <a href="{{ SITEURL }}/{{ page_name }}.html">&laquo;</a>
                    {% else %}
                        <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">&laquo;</a>
                    {% endif %}
                {% endif %}
                Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
                {% if articles_page.has_next() %}
                    <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">&raquo;</a>
                {% endif %}
            </p>
        {% endif %}
</div>
</div>
{% endblock content %}
