{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="12u">
		<!-- Portfolio -->
			<section>
				<div>
					<div class="row">
						<div class="12u skel-cell-mainContent">
							<!-- Content -->
								<article class="box is-post">
									{% if page.picture is defined %}
									<a href="#" class="image image-full"><img src="{{ page.picture }}"/></a>
									{% endif %}
									{{ page.content }}
								</article>
						</div>
					</div>
				</div>
			</section>
	</div>
</div>
{% endblock %}
